{
  "openapi": "3.1.0",
  "info": {
    "title": "Metris Flats API",
    "version": "1.2.0",
    "description": "Неофициальное API для получения списка квартир с сайта Metris.pro. Поддерживает фильтрацию по городу, цене, комнатам и площади."
  },
  "servers": [
    {
      "url": "https://metris.pro"
    }
  ],
  "paths": {
    "/local/components/metris_main/building_list/ajax/getFlats.php": {
      "post": {
        "operationId": "getFlats",
        "summary": "Получить список квартир",
        "description": "Возвращает список квартир в формате JSON. Все параметры фильтрации передаются в теле запроса как application/x-www-form-urlencoded.",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "city": {
                    "type": "string",
                    "description": "ID города, можно несколько через запятую",
                    "example": "10258225_0"
                  },
                  "room_count": {
                    "type": "string",
                    "description": "Количество комнат, через запятую",
                    "example": "1,2,3"
                  },
                  "price_min": {
                    "type": "integer",
                    "description": "Минимальная цена",
                    "example": 3000000
                  },
                  "price_max": {
                    "type": "integer",
                    "description": "Максимальная цена",
                    "example": 8000000
                  },
                  "space_min": {
                    "type": "number",
                    "description": "Минимальная площадь (м²)",
                    "example": 30
                  },
                  "space_max": {
                    "type": "number",
                    "description": "Максимальная площадь (м²)",
                    "example": 80
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Смещение для пагинации",
                    "example": 0
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Количество записей",
                    "example": 50
                  },
                  "sort": {
                    "type": "string",
                    "description": "Поле сортировки (price, space, deadline)",
                    "example": "price"
                  },
                  "order": {
                    "type": "string",
                    "enum": ["asc", "desc"],
                    "description": "Порядок сортировки",
                    "example": "asc"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ со списком квартир",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "complex_count": {
                      "type": "integer",
                      "description": "Количество ЖК"
                    },
                    "flat": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Информация по квартире",
                        "properties": {
                          "flat_id": { "type": "string" },
                          "number": { "type": "string" },
                          "complex_id": { "type": "string" },
                          "room_count": { "type": "string" },
                          "price_discount": { "type": "string" },
                          "floors": { "type": "string" }
                        },
                        "additionalProperties": true
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  }
}
