{
  "openapi": "3.0.0",
  "info": {
    "title": "Metris Flats API",
    "version": "1.1.2",
    "description": "Неофициальное API для получения списка квартир с Metris.pro"
  },
  "servers": [
    { "url": "https://metris.pro" }
  ],
  "paths": {
    "/local/components/metris_main/building_list/ajax/getFlats.php": {
      "post": {
        "operationId": "getFlats",
        "summary": "Получить список квартир",
        "description": "Возвращает список квартир. Тело передаётся как application/x-www-form-urlencoded.",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "city":        { "type": "string",  "description": "ID города, можно несколько через запятую", "example": "10258225_0" },
                  "room_count":  { "type": "string",  "description": "Кол-во комнат, через запятую",            "example": "1,2,3" },
                  "price_min":   { "type": "integer", "example": 3000000 },
                  "price_max":   { "type": "integer", "example": 8000000 },
                  "space_min":   { "type": "number",  "example": 30 },
                  "space_max":   { "type": "number",  "example": 80 },
                  "offset":      { "type": "integer", "example": 0 },
                  "limit":       { "type": "integer", "example": 50 },
                  "sort":        { "type": "string",  "example": "price" },
                  "order":       { "type": "string",  "enum": ["asc","desc"], "example": "asc" }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "complex_count": { "type": "integer" },
                    "flat": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  }
}
